Cython
cmake
et-xmlfile==1.1.0
imageio==2.9.0
imutils==0.5.4
matplotlib
numpy
opencv-contrib-python==4.5.3.56
openpyxl
pandas
Pillow
pycparser
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil
pytz==2021.3
PyWavelets==1.1.1
requests
schedule==1.1.0
scikit-image
scipy
torch
torchvision
tqdm
urllib3==1.26.7