Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///C:/ci/cffi_1625831764494/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///C:/ci/cryptography_1633502396740/work
cycler==0.10.0
Cython==0.29.24
dlib==19.22.1
et-xmlfile==1.1.0
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
imageio==2.9.0
imutils==0.5.4
kiwisolver==1.3.2
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
networkx==2.6.3
numexpr @ file:///C:/ci/numexpr_1618856761305/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271861146/work
olefile==0.46
opencv-contrib-python==4.5.3.56
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
pandas @ file:///C:/ci/pandas_1632920019983/work
Pillow @ file:///C:/ci/pillow_1625663286921/work
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
PySocks @ file:///C:/ci/pysocks_1594394709107/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
PyWavelets==1.1.1
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
schedule==1.1.0
scikit-image==0.18.3
scipy==1.7.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
tifffile==2021.8.30
torch==1.8.1
torchvision==0.9.1
tqdm @ file:///tmp/build/80754af9/tqdm_1631818572807/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.26.7
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
